
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}@media screen and (max-width:600px)
{
    .navbarsection .navbar-nav .nav-item .nav-link{
        text-align: center;
    }
    .navbarsection .navbar-nav .nav-item .nav-link:hover{
        color:rgb(243, 57, 57);
    }
    #homeinfo{
       margin-top:60px; 
    }
    #mypic{
        margin-top:40px;
    }
    .aboutme{
        margin:40px 5px 0px 5px;
    }
    #projects h2{
        font-size:23px;
    }
    #home h3{
        font-size: 20px;
    }
    #about h3{
        font-size: 20px;
    }
    h4{
        font-size: 10px;
    }
    .social-icons{
        margin:2px;
    }
    #projects .card a{
        text-decoration: none;
        /* color:rgb(211, 30, 90); */
        color:blue;
        font-size:20px;
    }

    #home h2::after{
        content:'';
        width:40%;
        height:0.9px;
        background-color:black;
        position:absolute;
        top:10%;
        left:50%;
        overflow-x: hidden;
    }
}
@media screen and (max-width:1000px)
{
    .navbarsection .navbar-nav .nav-item .nav-link{
        text-align: center;
    }
    .navbarsection .navbar-nav .nav-item .nav-link:hover{
        color:rgb(243, 57, 57);
    }
    .aboutme{
        margin:40px 5px 0px 5px;
    }
    #about h3{
        font-size: 25px;
    }
}